.categoryList
  width 100%
  margin-bottom 50px
  dt
    color pink-color-main
    font-size 1.4rem
    font-weight bold
    padding 15px
    border-bottom 1px solid gray-color-light
    i
      margin-right 5px
  dd
    padding 15px
    border-bottom 1px dashed gray-color-light
    
