.categoryList
  width 100%
  margin-bottom 50px
  dt
    color pink-color-main
    font-size 1.6rem
    font-weight bold
    padding 15px
    border-bottom 1px solid gray-color-light
    &:before
      content '\f60f'
      font-family-FontAwesomeBra()
      margin-right 5px
    &.sn
      &:before
        content '\f121'
        font-family-FontAwesomeSol()
  dd
    padding 15px
    border-bottom 1px dashed gray-color-light
    
