.sidemenu
  width 200px
  min-height 100vh
  background pink-color-main
  li
    a
      width 100%
      box-sizing border-box
      padding 15px 20px
      font-size 1.4rem
      font-weight bold
      color white-color-main
      &:hover
        background-color white-color-main
        color pink-color-main
      i
        font-size 1.8rem
        margin-right 8px

