html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  list-style: none;
  vertical-align: baseline;
  background: transparent;
}
body {
  line-height: 1;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
nav ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote before,
blockquote after,
q before,
q after {
  content: '';
  content: none;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
img {
  vertical-align: bottom;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
input,
select {
  vertical-align: middle;
}
button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
}
.anm-jelly {
  animation-duration: 4s;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
  transform-origin: bottom center;
  animation-name: jelly;
}
.anm-flush {
  animation-duration: 0.4s;
  animation-timing-function: ease-in;
  animation-iteration-count: 1;
  animation-name: flush;
}
.anm-error {
  animation: shakeX 0.3s;
  animation-iteration-count: 3;
}
@-moz-keyframes jelly {
  0% {
    transform: scale(1, 1);
  }
  8% {
    transform: scale(1, 1);
  }
  10% {
    transform: scale(1.1, 0.9);
  }
  13% {
    transform: scale(0.9, 1.1);
  }
  17.5% {
    transform: scale(1, 1);
  }
  19% {
    transform: scale(1, 1);
  }
  58% {
    transform: scale(1, 1);
  }
  60% {
    transform: scale(1.1, 0.9);
  }
  63% {
    transform: scale(0.9, 1.1);
  }
  67.5% {
    transform: scale(1, 1);
  }
  69% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}
@-webkit-keyframes jelly {
  0% {
    transform: scale(1, 1);
  }
  8% {
    transform: scale(1, 1);
  }
  10% {
    transform: scale(1.1, 0.9);
  }
  13% {
    transform: scale(0.9, 1.1);
  }
  17.5% {
    transform: scale(1, 1);
  }
  19% {
    transform: scale(1, 1);
  }
  58% {
    transform: scale(1, 1);
  }
  60% {
    transform: scale(1.1, 0.9);
  }
  63% {
    transform: scale(0.9, 1.1);
  }
  67.5% {
    transform: scale(1, 1);
  }
  69% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}
@-o-keyframes jelly {
  0% {
    transform: scale(1, 1);
  }
  8% {
    transform: scale(1, 1);
  }
  10% {
    transform: scale(1.1, 0.9);
  }
  13% {
    transform: scale(0.9, 1.1);
  }
  17.5% {
    transform: scale(1, 1);
  }
  19% {
    transform: scale(1, 1);
  }
  58% {
    transform: scale(1, 1);
  }
  60% {
    transform: scale(1.1, 0.9);
  }
  63% {
    transform: scale(0.9, 1.1);
  }
  67.5% {
    transform: scale(1, 1);
  }
  69% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}
@keyframes jelly {
  0% {
    transform: scale(1, 1);
  }
  8% {
    transform: scale(1, 1);
  }
  10% {
    transform: scale(1.1, 0.9);
  }
  13% {
    transform: scale(0.9, 1.1);
  }
  17.5% {
    transform: scale(1, 1);
  }
  19% {
    transform: scale(1, 1);
  }
  58% {
    transform: scale(1, 1);
  }
  60% {
    transform: scale(1.1, 0.9);
  }
  63% {
    transform: scale(0.9, 1.1);
  }
  67.5% {
    transform: scale(1, 1);
  }
  69% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}
@-moz-keyframes flush {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes flush {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
  }
}
@-o-keyframes flush {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
  }
}
@keyframes flush {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes shakeX {
  0% {
    transform: translateX(8px);
  }
  25% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(8px);
  }
  100% {
    transform: translateX(0);
  }
}
@-webkit-keyframes shakeX {
  0% {
    transform: translateX(8px);
  }
  25% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(8px);
  }
  100% {
    transform: translateX(0);
  }
}
@-o-keyframes shakeX {
  0% {
    transform: translateX(8px);
  }
  25% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(8px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes shakeX {
  0% {
    transform: translateX(8px);
  }
  25% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(8px);
  }
  100% {
    transform: translateX(0);
  }
}
html {
  font-size: 10px;
  font-size: 62.5%;
}
body {
  height: 100%;
  -webkit-text-size-adjust: 100%;
  font-feature-settings: "pkna";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-display: swap;
  -webkit-overflow-scrolling: touch;
  font-family: 'Open Sans', Meiryo, 'メイリオ', Arial, sans-serif;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  font-size: 1.2rem;
  font-weight: 400;
  scroll-behavior: smooth;
  color: #333;
}
::-webkit-scrollbar {
  width: 2px;
}
::-webkit-scrollbar-track {
  margin: 0 0 0 20px;
  background: rgba(255,255,255,0);
  border-radius: 2px;
}
::-webkit-scrollbar-thumb {
  background: rgba(51,51,51,0.32);
}
br.sp__br {
  display: none;
}
@media only screen and (max-width: 600px) {
  br.sp__br {
    display: block;
  }
}
.container {
  display: flex;
}
.contents {
  width: calc(100vw - 200px);
  padding: 20px;
  box-sizing: border-box;
}
.wrap {
  max-width: 1280px;
  padding: 0 40px;
  margin: 0 auto;
  box-sizing: border-box;
}
@media only screen and (max-width: 960px) {
  .wrap {
    width: 100%;
    padding: 0 20px;
  }
}
.pageTitle {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 30px;
}
a {
  position: relative;
  transition: 0.16s;
  display: inline-block;
  color: #333;
  text-decoration: none;
}
a:hover,
a:active,
a:visited,
a:focus {
  color: #333;
  text-decoration: none;
}
img {
  transition: 0.3s;
}
img[lazy=loading] {
  opacity: 0;
}
img[lazy=loaded] {
  opacity: 1;
}
select,
input,
button {
  padding: 6px;
  border-radius: 3px;
}
input {
  border: solid 1px #a9a9a9;
}
.sidemenu {
  width: 200px;
  min-height: 100vh;
  background: #f37a8d;
}
.sidemenu li a {
  width: 100%;
  box-sizing: border-box;
  padding: 15px 20px;
  font-size: 1.4rem;
  font-weight: bold;
  color: #fff;
}
.sidemenu li a:hover {
  background-color: #fff;
  color: #f37a8d;
}
.sidemenu li a i {
  font-size: 1.8rem;
  margin-right: 8px;
}
.searchArea {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}
.searchArea label {
  display: block;
  margin-bottom: 8px;
}
.searchArea select {
  min-width: 200px;
}
.searchArea .category {
  margin-right: 20px;
}
.searchArea .type {
  margin-right: 20px;
}
.searchArea .keyword button {
  background-color: #f37a8d;
  color: #fff;
  margin-left: 5px;
  padding: 7px;
  border: 1px solid #f37a8d;
  transition: 0.16s;
}
.searchArea .keyword button:hover {
  background: #fff;
  color: #f37a8d;
}
.countArea {
  margin: 10px 0;
  display: flex;
}
.countArea .count {
  line-height: 22px;
}
.countArea .pagination {
  margin-left: 10px;
  display: flex;
}
.countArea .pagination a,
.countArea .pagination span {
  min-width: 8px;
  padding: 0 6px;
  margin-right: 8px;
  text-align: center;
  line-height: 20px;
  display: inline-block;
  border: 1px solid #ccc;
  height: 20px;
  border-radius: 10px;
}
.countArea .pagination a.act,
.countArea .pagination span.act,
.countArea .pagination a:hover,
.countArea .pagination span:hover {
  color: #fff;
  background-color: #f37a8d;
}
.memoList {
  width: 100%;
  border: 1px solid #ccc;
  border-bottom: none;
}
.memoList tbody tr:nth-child(odd) {
  background-color: #f6f6f6;
}
.memoList tbody tr:hover {
  background-color: #fcfade;
}
.memoList th {
  padding: 10px 15px;
  border-bottom: 2px solid #ccc;
  color: #f37a8d;
}
.memoList th.title {
  min-width: 60%;
}
.memoList td {
  padding: 10px 15px;
  border-bottom: 1px solid #ccc;
  text-align: center;
}
.categoryList {
  width: 100%;
  margin-bottom: 50px;
}
.categoryList dt {
  color: #f37a8d;
  font-size: 1.4rem;
  font-weight: bold;
  padding: 15px;
  border-bottom: 1px solid #ccc;
}
.categoryList dt i {
  margin-right: 5px;
}
.categoryList dd {
  padding: 15px;
  border-bottom: 1px dashed #ccc;
}
