.searchArea
  display flex
  align-items center
  margin-bottom 50px
  label
    display block
    margin-bottom 8px
  select
    min-width 200px
  .category
    margin-right 20px
  .type
    margin-right 20px
  .keyword
    button
      background-color pink-color-main
      color white-color-main
      margin-left 5px
      padding 7px
      border 1px solid pink-color-main
      transition .16s
      &:hover
        background white-color-main
        color pink-color-main
