.searchArea
  margin-bottom 50px
  form
    display flex
    align-items flex-end
    label
      display block
      margin-bottom 8px
    select
      min-width 200px
    input
      min-height 31px
    .category, .type, .keyword
      margin-right 20px
    button
      width 31px
      line-height 15px
      text-align center
      background-color pink-color-main
      color white-color-main
      padding 8px
      border 1px solid pink-color-main
      transition .16s
      &:hover
        background white-color-main
        color pink-color-main
