pink-color-main = #f37a8d
pink-color-light = #fff4f5
yellow-color-light = #fcfade
gray-color-main = #888888
gray-color-light = #cccccc
gray-color-light2 = #f6f6f6 
gray-color-dark = #555555
white-color-main = #FFFFFF
black-color-main = #333333

link(color-link)
  color color-link
  text-decoration none
  &:hover, &:active, &:visited, &:focus
    color color-link
    text-decoration none
active(color-active)
  &:active
    background color-active
