white-color-main = #FFFFFF
red-color-main = #FF585E
blue-color-main = #35BEED
green-color-main = #36C168
yellow-color-main = #F7BF0B
black-color-main = #15181b
gray-color-main = #888888
gray-color-sub = #F7F7F7
gray-color-sub2 = #E3E3E3

front-base = #F0F0F0
front-main1 = #606060
front-main2 = #9DC3C1
front-accent = #77AAAD
front-white = #FFFFFF

link(color-link)
  color color-link
  text-decoration none
  &:hover, &:active, &:visited, &:focus
    color color-link
    text-decoration none
active(color-active)
  &:active
    background color-active
