html,
body
  defaults()
  font-family-OpenSans()
  width 100%
  height 100%
  margin 0 auto
  font-size 12px
  font-weight 400
  scroll-behavior smooth
  letter-spacing -.008em
  color black-color-main

custom-scroll(rgba(white-color-main, 0), rgba(black-color-main, .32), 2, true, false)

br
  &.sp__br
    display none
    +bp(sm)
      display block

.container
  display flex

.contents
  width calc(100vw - 200px)
  padding 20px
  box-sizing border-box
  
.wrap
  max-width 1280px
  padding 0 40px
  margin 0 auto
  box-sizing border-box
  +bp(md)
    width 100%
    padding 0 20px

a
  position relative
  transition .16s
  display inline-block
  link(black-color-main)

img
  transition .3s
  &[lazy=loading]
    opacity 0
  &[lazy=loaded]
    opacity 1

select, input, button
  padding 6px
  bdrs(3)
input
  border solid 1px rgb(169, 169, 169)