font-family-Hiragino()
  font-family "ヒラギノ角ゴ ProN W6", Hiragino Kaku Gothic ProN, "Yu Gothic", "游ゴシック", YuGothic,  "Helvetica Neue", Arial, "メイリオ", Meiryo, sans-serif

font-family-YuGothic()
  font-family "Yu Gothic", "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, "Helvetica Neue", Arial, "メイリオ", Meiryo, sans-serif

font-family-YuMincho()
  font-family "Yu Mincho", "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", Hiragino Mincho ProN, "Helvetica Neue", Arial, "メイリオ", Meiryo, serif

font-family-NotoSans()
  font-family 'Noto Sans', "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, "Helvetica Neue", Arial, "メイリオ", Meiryo, sans-serif

font-family-NotoSerif()
  font-family 'Noto Serif', "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", Hiragino Mincho ProN, "Helvetica Neue", Arial, "メイリオ", Meiryo, serif

font-family-NotoSansJP()
  font-family 'Noto Sans JP', "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, "Helvetica Neue", Arial, "メイリオ", Meiryo, sans-serif

font-family-NotoSansJP-Cereal()
  font-family 'cereal', 'Noto Sans JP', "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, "Helvetica Neue", Arial, "メイリオ", Meiryo, sans-serif

font-family-NotoSerifJP()
  font-family 'Noto Serif JP', "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", Hiragino Mincho ProN, "Helvetica Neue", Arial, "メイリオ", Meiryo, serif

NotoSansBlack()
  font-weight 900
NotoSansBold()
  font-weight 700
NotoSansMedium()
  font-weight 500
NotoSansRegular()
  font-weight 400
NotoSansThin()
  font-weight 300
